<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stevey's blog | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');

    </style>
</head>