<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <h1>about</h1>
    <h2>your path to becoming a node.js ninja</h2>

    <%- include('./partials/nav.ejs') %>

    <div>
        <h2>About Us</h2>
        <p>dlfkjsdfl;jasd;lfjef jlskdj faefl lujoefjl sdofasdlf wof asijdfowieof sodf oweifjalsdnfpo asvlxcnvlrflsknisd foasijf</p>
        <p>dlfkjsdfl;jasd;lfjef jlskdj faefl lujoefjl sdofasdlf wof asijdfowieof sodf oweifjalsdnfpo asvlxcnvlrflsknisd foasijf</p>
        <p>dlfkjsdfl;jasd;lfjef jlskdj faefl lujoefjl sdofasdlf wof asijdfowieof sodf oweifjalsdnfpo asvlxcnvlrflsknisd foasijf</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>